---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';

type Props = { project: CollectionEntry<'projects'>; class?: string; headingLevel?: 'h2' | 'h3' };

const { project, class: className, headingLevel = 'h2' } = Astro.props;
const { title, description, seo } = project.data;
const image = seo?.image;
const company = project.data.company ?? 'Octoply'; // fallback or add to schema
const TitleTag = headingLevel;
---

<a
    href={`/projects/${project.id}/`}
    class:list={[
        'block bg-[rgba(255,255,255,0.33)] rounded-xl shadow-md transition-all duration-200 hover:scale-105 hover:shadow-lg active:scale-100 p-0 overflow-hidden',
        className
    ]}
>
    {
        image?.src && (
            <div class="p-4 pb-0">
                <Image src={image.src} alt={image.alt || title} class="w-full h-32 object-cover rounded-xl" loading="lazy" />
            </div>
        )
    }
    <div class="p-4">
        <TitleTag class="text-lg font-bold mb-1">{title}</TitleTag>
        <div class="text-sm font-medium text-main opacity-70 mb-2">{company}</div>
        <hr class="my-2 border-gray-800 dark:border-gray-200" />
        {description && <div class="text-sm font-normal truncate">{description}</div>}
    </div>
</a>
